* {
  margin: 0;
}

.navbar {
  width: 100%;
  min-height: 32px;
  border-bottom: 1px solid black;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.page-layout {
  margin: 16px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-action-section {
  min-width: 130px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}
